.App {
    margin: 0 auto;
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.currencyInput {
    margin-top: 20px;
    background-color: #bbbbbb;
    border-radius: 5px;
    font-size: 18px;
}

.currencyParameters {
    display: flex;
    align-items: end;
}

.privat24logo {
    width: 35px;
}

.actionCurrency {
    width: 55%;
    margin: 0 auto;
}
.resultCurrency {
    display: flex;
    justify-content: space-between;
}
.resultCurrencyLeft {
    width: 55%;
    display: flex;
    justify-content: space-between;
}
.actionCurrency .actionActive {
    background-color: #29b6f6;
}

.actionCurrency span {
    padding-right: 20px;
}

.main_input {
    max-width: 300px;
}

.todoLISTS {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    /*!*-moz-column-count: 4;*!*/
    /*!*-webkit-column-count: 4;*!*/
    /*column-count: 1;*/
    /*!*-moz-column-gap: 1em;*!*/
    /*!*-webkit-column-gap: 1em;*!*/
    /*!*column-gap: 1em;*!*/
}

.TodoItem {
    /*display: inline-block;*/
}

.todoPaper {
    background: linear-gradient(#bbb, transparent 1px), linear-gradient(90deg, #bbb, transparent 1px);
    background-size: 10px 10px;
    width: 380px;
    margin: 10px;
    padding: 10px;
}

.input_block {
    margin-top: 20px;
    display: flex;
    height: 30px;
    align-items: center;
}

.toDoListTitle {
    margin: 0;
    font-size: 36px;
    display: flex;

}

.taskTitle {
    margin: 0;
    max-width: 100%;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    padding: 5px; /* Поля вокруг текста */
    text-overflow: ellipsis; /* Добавляем многоточие */

}

.buttons .act {
    background-color: #d32f2f;
    font-weight: bolder;
}
